S3method("[",brainGraphList)
S3method("[",brainGraph_resids)
S3method("[",corr_mats)
S3method(make_brainGraph,bg_mediate)
S3method(make_brainGraph,igraph)
S3method(make_brainGraph,matrix)
S3method(make_brainGraphList,NBS)
S3method(make_brainGraphList,array)
S3method(make_brainGraphList,bg_GLM)
S3method(make_brainGraphList,corr_mats)
S3method(make_brainGraphList,mtpc)
S3method(plot,IC)
S3method(plot,bg_GLM)
S3method(plot,brainGraph)
S3method(plot,brainGraphList)
S3method(plot,brainGraph_GLM)
S3method(plot,brainGraph_NBS)
S3method(plot,brainGraph_boot)
S3method(plot,brainGraph_mediate)
S3method(plot,brainGraph_mtpc)
S3method(plot,brainGraph_permute)
S3method(plot,brainGraph_resids)
S3method(plot,mtpc)
S3method(print,brainGraphList)
S3method(print,summary.IC)
S3method(print,summary.NBS)
S3method(print,summary.bg_GLM)
S3method(print,summary.bg_mediate)
S3method(print,summary.brainGraph)
S3method(print,summary.brainGraph_boot)
S3method(print,summary.brainGraph_permute)
S3method(print,summary.brainGraph_resids)
S3method(print,summary.mtpc)
S3method(summary,IC)
S3method(summary,NBS)
S3method(summary,bg_GLM)
S3method(summary,bg_mediate)
S3method(summary,brainGraph)
S3method(summary,brainGraph_boot)
S3method(summary,brainGraph_permute)
S3method(summary,brainGraph_resids)
S3method(summary,mtpc)
export(NBS)
export(analysis_random_graphs)
export(aop)
export(apply_thresholds)
export(as_atlas)
export(as_brainGraphList)
export(bg_to_mediate)
export(brainGraph_GLM)
export(brainGraph_GLM_design)
export(brainGraph_boot)
export(brainGraph_mediate)
export(brainGraph_permute)
export(centr_betw_comm)
export(centr_lev)
export(coeff_var)
export(communicability)
export(contract_brainGraph)
export(cor.diff.test)
export(corr.matrix)
export(count_homologous)
export(count_inter)
export(create_atlas)
export(create_mats)
export(edge_asymmetry)
export(edge_spatial_dist)
export(efficiency)
export(gateway_coeff)
export(get.resid)
export(graph_attr_dt)
export(guess_atlas)
export(hubness)
export(import_scn)
export(is.brainGraph)
export(loo)
export(make_auc_brainGraph)
export(make_brainGraph)
export(make_brainGraphList)
export(make_ego_brainGraph)
export(make_empty_brainGraph)
export(make_intersection_brainGraph)
export(mtpc)
export(part_coeff)
export(plot_brainGraph_gui)
export(plot_brainGraph_multi)
export(plot_global)
export(plot_rich_norm)
export(plot_vertex_measures)
export(plot_volumetric)
export(rich_club_all)
export(rich_club_attrs)
export(rich_club_coeff)
export(rich_club_norm)
export(rich_core)
export(robustness)
export(s_core)
export(set_brainGraph_attr)
export(sim.rand.graph.clust)
export(sim.rand.graph.hqs)
export(sim.rand.graph.par)
export(small.world)
export(symmetrize_array)
export(symmetrize_mats)
export(vertex_attr_dt)
export(vertex_spatial_dist)
export(vulnerability)
export(within_module_deg_z_score)
export(write_brainnet)
export(xfm.weights)

importFrom(Hmisc,rcorr)
importFrom(MASS,Null,ginv)
importFrom(Matrix,colSums,rowSums)
importFrom(RcppEigen,fastLmPure)
importFrom(abind,abind)
importFrom(ade4,mantel.rtest)
importFrom(boot,boot,boot.ci)
importFrom(expm,expm)
importFrom(ggrepel,geom_text_repel)
importFrom(grid,gpar,grid.draw,grid.newpage,textGrob)
importFrom(gridExtra,arrangeGrob)
importFrom(mediation,summary.mediate)
importFrom(oro.nifti,image,nifti)
importFrom(permute,shuffleSet)
importFrom(scales,fullseq)
import(igraph)
import(data.table)
import(foreach)
import(ggplot2)
import(parallel)
importFrom(graphics, legend, par, plot, title, layout, lcm)
importFrom(grDevices, adjustcolor, dev.copy, dev.cur, dev.list, dev.new,
  dev.off, dev.set, extendrange, nclass.FD, png, pdf, gray)
importFrom(methods, hasArg)
importFrom(stats, as.dist, as.formula, complete.cases, density, lm, p.adjust, pf,
  pnorm, ppoints, printCoefmat, pt, qf, qnorm, qt, quantile, resid, rnorm, runif, sd, setNames, t.test, var, wilcox.test)
importFrom(tools,toTitleCase)
importFrom(utils, combn, data, flush.console, head, packageVersion,
  setTxtProgressBar, tail, txtProgressBar, write.table)
