export(check.resid)
export(choose.edges)
export(color.edges)
export(color.vertices)
export(corr.matrix)
export(get.resid)
export(graph.contract.brain)
export(graph.efficiency)
export(part.coeff)
export(plot.adj)
export(plot.adj.gui)
export(plot.community)
export(plot.neighborhood)
export(plot.over.brain.axial)
export(plot.over.brain.sagittal)
export(plot.se)
export(range.transform)
export(rich.club.coeff)
export(rotation)
export(small.world)
export(within.module.deg.z.score)
export(set.brainGraph.attributes)
export(sim.rand.graph.clust)
export(sim.rand.graph.par)
export(update.adj)
export(write.brainnet)

import(igraph)
import(RGtk2)
import(cairoDevice)
import(data.table)
importFrom(Hmisc, rcorr)
import(foreach)
import(parallel)
import(oro.nifti)
