export(check.resid)
export(choose.edges)
export(color.edges)
export(community.measures)
export(corr.matrix)
export(get.resid)
export(get.thickness)
export(global.eff)
export(local.eff)
export(part.coeff)
export(plot.adj)
export(plot.adj.gui)
export(plot.community)
export(plot.neighborhood)
export(plot.over.brain.axial)
export(plot.over.brain.sagittal)
export(plot.se)
export(range.transform)
export(rich.club.coeff)
export(small.world)
export(within.module.deg.z.score)
export(set.brainGraph.attributes)
export(sim.rand.graph.clust)
export(sim.rand.graph.par)

import(igraph)
import(RGtk2)
importFrom(Hmisc, rcorr)
importFrom(cairoDevice, asCairoDevice)
import(foreach)
import(oro.nifti)
